<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/css/login.css">
    <link rel="shortcut icon" type="image/png" href="/mnp.jpg" />
</head>

<body>
    <div class="login-page">
        <div class="form">
            <form class="login-form" action="/login" method="POST">
                <input type="text" placeholder="username" name="username" />
                <input type="password" placeholder="password" name="password" />
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
</body>

</html>